@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --perspective: 850px;
  --present-dimension: 12em;
  --date-dimension: --present-dimension / 5;
  --bauble-dimension: --present-dimension / 4.5;
}
@keyframes shake {
  0% 		{ transform: rotate(0deg); }
  20% 	{ transform: rotate(-20deg); }
  40% 	{ transform: rotate(20deg); }
  60% 	{ transform: rotate(-10deg); }
  80% 	{ transform: rotate(10deg); }
  100% 	{ transform: rotate(0deg); }
}

html, body {
  height: 100%;
}
body {
  background-color: MediumSeaGreen;
  display: flex;
  align-items: center;
}
